html, body {
  background: #f5f5eb;
}
body {
  //background-color: white;
  font: 13px/20px "Exo 2", Arial, sans-serif;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.br0 {
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  //background-color: #ffffff;

}
.selectregion{
  background:url(../img/icons/chevron-down.svg) no-repeat 90% 50% #ffffff;
}

  //.select2-results__group {
  //  cursor: default;
  //  display: block;
  //  padding: 6px;
  //}

  .select2-selection__rendered {
    line-height: 37px !important;
  }
.select2-selection--single {
  height: 37px !important;
}
.select2-container--default{
  margin: auto;
}
.select2-container--default .select2-selection--single{
  border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 1px !important;
}

.phone-number{
  margin: auto 10px auto;
}

.phone-number a, .phone-number i{
  color: #ffffff;
  font-size: 1rem;
}
.phone-number i{
  //margin-right: 7px;
  padding: 3px 7px 0 0;
}

.callback{
  margin: 5px;
}


.top-menu{

  $black: $green;
  $navbar-light-color:                rgba($black, .5);
  $navbar-light-hover-color:          rgba($black, .7);
  $navbar-light-active-color:         rgba($black, .9);
  $navbar-light-disabled-color:       rgba($black, .3);
  $navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
  $navbar-light-toggler-border-color: rgba($black, .1);

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }
  .navbar-toggler{
    border-color: $green;
  }

  a{
    color: $gray-900;
    font-size: 1rem;
    font-weight: 300;
  }

.active{
  a{
    color: $green !important;
  }
}

  .region-block{

    display: flex;
    flex-direction: row;

    a{
      color: $green;
      position: relative;
    }
    a::after{
      transition: all 0.2s ease-in-out;
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 0;
      content: "";
      left: 0;
      border-bottom: 1px dashed $green;
    }
  }

}


.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.header-contact{
  color: $gray-900;

  a{
    color: $green;
    position: relative;
    text-decoration: underline;
    font-size: 1rem;
  }
  //a::after{
  //  transition: all 0.2s ease-in-out;
  //  position: absolute;
  //  display: block;
  //  bottom: 0;
  //  width: 100%;
  //  height: 0;
  //  content: "";
  //  left: 0;
  //  border-bottom: 1px dashed $green;
  //}
}

.cart {

  .cart-icon {
    font-size: 1.8rem;
  }

  .countLink{
    position: relative;
    display: inline-block;
    color: $green;
  }
  .count {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #f5f5eb;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    color: $gray-900;
    height: 24px;
    width: 24px;
    right: -8px;
    top: -11px;
  }

  .cartLabel{
    margin-left: 1rem;
    font-weight: bold;
  }
  .total{
    font-weight: lighter;
  }


  @include media-breakpoint-down(md) {
    .heading{
      display: none;
    }

  }

}


.index-banners {

  .elem-column{
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .elem-wrap {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px;


    .elem {
      position: relative;
      box-sizing: border-box;
      height: 228px;
      padding: 42px 24px 12px 24px;
      border: 1px solid #e7e8ea;
      background-color: #fff;

      .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .text-wrap {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 100%;
        color: #000000;

        .name {
          display: block;
          max-height: 40px;
          overflow: hidden;
          margin-bottom: 10px;
          //font-family: "robotomedium";
          font-size: 18px;
          line-height: 20px;
          text-decoration: none;
          color: #000000;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
        }
        .descr {
          max-height: 48px;
          overflow: hidden;
          margin-bottom: 12px;
          font-size: 13px;
          line-height: 16px;
        }
        .btn-simple {
          background: #009352;
          border-color: #009352;
        }
      }

    }


  }

  .elem-column:nth-child(1) .elem, .elem-column:nth-child(3) .elem {
    height: 476px;
    padding: 42px 36px 12px 36px;
  }




  @include media-breakpoint-down(md) {

    .elem-wrap {
      padding: 6px;
      .elem {
        height: 146px;
        padding: 30px 18px 12px;
      }
    }
    .elem-column:nth-child(1) .elem, .elem-column:nth-child(3) .elem {
      height: 304px;
      padding: 30px 18px 12px ;


    }

  }
  @include media-breakpoint-down(xs) {

    .elem-wrap {
      padding: 2px;

      .elem {
        height: 88px;
        padding: 15px 8px 0;

        .text-wrap {
          .name {
            max-height: 32px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    .elem-column:nth-child(1) .elem, .elem-column:nth-child(3) .elem {
      height: 180px;
      padding: 15px 8px 0 ;


    }

  }
}



.btn-simple{
  position: relative;
  display: inline-block;
  min-width: 200px;
  box-sizing: border-box;
  padding: 21px 24px 19px;
  //font-family: "roboto_ltregular";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #ffffff;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-simple.btn-micro {
  min-width: 114px;
  padding: 6px 8px 4px;
}
