html, body {
  background: #f5f5eb;
}
body {
  //background-color: white;
  font: 13px/20px "Exo 2", Arial, sans-serif;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.br0 {
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  //background-color: #ffffff;

}
.selectregion{
  background:url(../img/icons/chevron-down.svg) no-repeat 90% 50% #ffffff;
}

  //.select2-results__group {
  //  cursor: default;
  //  display: block;
  //  padding: 6px;
  //}

  .select2-selection__rendered {
    line-height: 37px !important;
  }
.select2-selection--single {
  height: 37px !important;
}
.select2-container--default{
  margin: auto;
}
.select2-container--default .select2-selection--single{
  border-radius: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 1px !important;
}

.phone-number{
  margin: auto 10px auto;
}

.phone-number a, .phone-number i{
  color: #ffffff;
  font-size: 1rem;
}
.phone-number i{
  //margin-right: 7px;
  padding: 3px 7px 0 0;
}

.callback{
  margin: 5px;
}


.top-menu{

  $black: $green;
  $navbar-light-color:                rgba($black, .5);
  $navbar-light-hover-color:          rgba($black, .7);
  $navbar-light-active-color:         rgba($black, .9);
  $navbar-light-disabled-color:       rgba($black, .3);
  $navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
  $navbar-light-toggler-border-color: rgba($black, .1);

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }
  .navbar-toggler{
    border-color: $green;
  }

  a{
    color: $gray-900;
    font-size: 1rem;
    font-weight: 300;
  }

.active{
  a{
    color: $green !important;
  }
}

  .region-block{

    display: flex;
    flex-direction: row;

    a{
      color: $green;
      position: relative;
    }
    a::after{
      transition: all 0.2s ease-in-out;
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 0;
      content: "";
      left: 0;
      border-bottom: 1px dashed $green;
    }
  }

}


.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.header-contact{
  color: $gray-900;

  a{
    color: $green;
    position: relative;
    text-decoration: underline;
    font-size: 1rem;
  }
  //a::after{
  //  transition: all 0.2s ease-in-out;
  //  position: absolute;
  //  display: block;
  //  bottom: 0;
  //  width: 100%;
  //  height: 0;
  //  content: "";
  //  left: 0;
  //  border-bottom: 1px dashed $green;
  //}
}

.cart {

  .cart-icon {
    font-size: 1.8rem;
  }

  .countLink{
    position: relative;
    display: inline-block;
    color: $green;
  }
  .count {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #f5f5eb;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    color: $gray-900;
    height: 25px;
    width: 25px;
    right: -8px;
    top: -11px;
  }

  .cartLabel{
    margin-left: 1rem;
    font-weight: bold;
  }
  .total{
    font-weight: lighter;
  }


  @include media-breakpoint-down(md) {
    .heading{
      display: none;
    }

  }

}
